body {
  background: rgb(7, 36, 0);
  background: linear-gradient(
    75deg,
    rgba(7, 36, 0, 1) 0%,
    rgba(87, 166, 71, 1) 24%,
    rgba(82, 91, 81, 1) 100%
  );

  margin: 0px;
  padding: 0px;
}
.navbar {
  position: fixed;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 0.9;
}
#list {
  list-style-type: none;
  list-style: none;
  font-size: 20px;
}
#tableofcontents {
  background: #f9f9f9 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;

  padding: 30px;
  width: auto;
  opacity: 0.4;
  position: relative;
  top: 250px;
}
#tablehead {
  font-size: 50px;
  text-align: center;
}
#contentlist {
  font-size: 20px;
  padding-top: 20px;
  line-height: 45px;
}
#Author {
  margin-top: 16em;
  font-size: 30px;
}
.iframe {
  width: 90em;
  height: 40em;
  margin: 10px;
  padding: 30px;
  position: relative;
  left: 20em;
  top: 15em;
  border-color: transparent;
}
.GivatyVideo {
  padding: 10px;
  margin: 10px;
  position: initial;
  top: 10em;
}
#GivatyPicture {
  position: relative;
  bottom: 10em;
}
#Shyrionpng {
  position: relative;
  top: 10em;
  width: 20em;
}
#Shyrionvideo {
  position: relative;
  top: 20em;
}
#merkava4 {
  position: relative;
  left: 10em;
  height: 30em;
}
#Airforcepic {
  position: relative;
  top: -3em;
}
#IAFRAME {
  position: relative;
  top: 13em;
  left: 5em;
  width: 1150px;
}
